.container {
  width: 70%;
  margin: auto;
  padding-bottom: 8%;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.btn{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  padding-left: 3%;
  padding-right: 3%;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}
.cup{
  margin: 0 3%;
  color: #FFEB3B;
}
.header{
  color: #4ECCA3;
}
body {
  background-color: #393E46;
  text-align: center;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
